<link type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet">

<div class="header">
    <div></div>
    <div class="title-text"><a href="/">Princeton Platformer</a></div>
    
    {% if not log %}
        <div class="login-text">
            <a href="/login">Login</a>
        </div>
    {% else %}
        <div class="login-text">
            <a href="/logout">Logout</a><br>
            <a href="/logout-full" class="small-link" title="Forget login on this device">(Full Logout)</a>
        </div>
    {% endif %}
</div>
