<!DOCTYPE html>
<html>
    <head>
        <title>Princeton Platformer - Leaderboard</title>
    </head>

    <body>
        {% include 'header.html' %}
        {% if lvl %}
        <h1 style="text-align:center;margin: 10px 0px;">Leaderboard for Level {{ lvl }}</h1>
        {% else %}
        <h1 style="text-align:center;margin: 10px 0px;">{{username}}'s times</h1>
        {% endif %}
        <div class="table-div">
            <table class="table" id="overviewsTable">
                <thead class="thead-primary">
                    <tr>
                        {% if lvl %}
                        <th>Rank</th>
                        <th>NetId</th>
                        {% else %}
                        <th>Run ID</th>
                        <th>Level</th>
                        {% endif %}
                        <th>Number of Deaths</th>
                        <th>Time</th>
                        <th>Watch their Run</th>
                    </tr>
                </thead>
                {% if table|length == 0: %}
                {% else %}
                {% for row in table[(pg - 1) * limit: pg * limit] %}
                <tbody>
                    <tr>
                        {% if lvl %}
                        <td>{{ loop.index + (pg - 1) * limit }}</td>
                        <td><a class="table-a" href="/times/{{row[0]}}?pg=1">{{ row[0] }}</a></td>
                        {% else %}
                        <td>{{ row[0] }}</td>
                        {% endif %}
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        {% if username %}
                        <td>{{ row[3] }}</td>
                        {% endif %}
                        {% if row[4] %}
                        <td style="padding-left: 30px !important; padding: inherit;">
                            <a href="/ghost?net_id={{row[0]}}&run={{row[3]}}">
                                <button class="table-btn" style="margin-top: 0px !important;">Watch</button>
                            </a>
                            
                        </td>
                        {% else %}
                        <td>Not Available</td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
                {% endif %}

            </table>
        </div>
        <div class = "btn-div">
            {% if lvl %}
                <div style="float: left;">
                    <a href="/leaderboard-menu"><button class="table-btn" style="margin-left: 0">Back to Levels</button></a>
                </div>
                <div style="float: right;">
                    {% if pg > 1 %}
                        <a href="/leaderboard?lvl={{lvl}}&pg=1"><button class="table-btn">Start</button></a>
                        <a href="/leaderboard?lvl={{lvl}}&pg={{pg - 1}}"><button class="table-btn">Prev</button></a>
                        {% endif %}
                    {% if table|length > pg * limit %}
                        <a href="/leaderboard?lvl={{lvl}}&pg={{pg + 1}}"><button class="table-btn">Next</button></a>
                        <a href="/leaderboard?lvl={{lvl}}&pg={{table|length // limit + 1}}"><button class="table-btn">End</button></a>
                        {% endif %}
                </div>
            {% else %}
                <div style="float: left;">
                    <a href="{{ ref }}"><button class="table-btn" style="margin-left: 0">Back</button></a>
                </div>
                <div style="float: right;">
                    {% if pg > 1 %}
                        <a href="/times/{{username}}?pg=1"><button class="table-btn">Start</button></a>
                        <a href="/times/{{username}}?pg={{pg - 1}}"><button class="table-btn">Back</button></a>
                        {% endif %}
                    {% if table|length > pg * limit %}
                        <a href="/times/{{username}}?pg={{pg + 1}}"><button class="table-btn">Next</button></a>
                        <a href="/times/{{username}}?pg={{table|length // limit + 1}}"><button class="table-btn">End</button></a>
                        {% endif %}
                    {% endif %}
                </div>
        </div>
    </body>
</html>