<!DOCTYPE html>
<html>
    <head>
        <title>Princeton Platformer</title>
    </head>
    <body>
        {% include 'header.html' %}
        <div class="main-body">
            <div class="main-btn-div">
                <a href="/leaderboard?lvl=1">
                    <button class="btn-main">Level One</button>
                </a>
            </div>
            <div class="main-btn-div">
                <a href="/leaderboard?lvl=2">
                    <button type="submit" class="btn-main">Level Two</button>
                </a>
            </div>
            <div class="main-btn-div">
                <a href="/leaderboard?lvl=3">
                    <button type="submit" class="btn-main">Level Three</button>
                </a>
            </div>
            {% if log == True %}
            <div style="position: fixed; bottom: 10px; left: 10px; font-size: 20px; color: #000">
                Logged in as <strong>{{ username }}</strong>
            </div>
            {% else %}
            <div style="position: fixed; bottom: 10px; left: 10px; font-size: 20px; color: #000">
                Currently playing as <strong>Guest</strong>. Scores will not be saved.
            </div>
            {% endif %}
        </div>
    </body>
</html>