<!DOCTYPE html>
<html>
    <head>
        <title>Princeton Platformer</title>
    </head>
    <body>
        {% include 'header.html' %}
        <div class="main-body">
            <div class="main-btn-div">
                <a href="/leaderboard?lvl=1">
                    <button class="btn-main">Level One</button>
                </a>
            </div>
            <div class="main-btn-div">
                <a href="/leaderboard?lvl=2">
                    <button type="submit" class="btn-main">Level Two</button>
                </a>
            </div>
            <div class="main-btn-div">
                <a href="/leaderboard?lvl=3">
                    <button type="submit" class="btn-main">Level Three</button>
                </a>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>